<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DAILY JOUNRAL</title>
    <link rel="stylesheet" href="/CSS/styles.css">
</head>
<body>
    <header>
        <nav id="nav-style">
            <h1>DAILY JOUNRAL</h1>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT US</a></li>
            <li><a href="/contact">CONTACT US</a></li>
            <li><a href="/compose">COMPOSE</a></li>
        </ul>
        </nav>
    </header>
